.fpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 200px;
  gap: 50px;
  label {
    align-self: left;
  }
}
.fpHeading {
  font-size: 3rem;
  font-weight: bolder;
}
.fpButton {
  width: 130px;
  height: 50px;
  align-self: center;
  font-size: 1.2rem;
  background-color: #1a2f27;
  color: white;
  border: none;
  border-radius: 5px;
}
.resendOtp {
  padding-top: 10px;
  font-size: 0.9rem;
  color: rgb(140, 138, 138);
  button {
    background: none;
    border: none;
    color: #0000ee;
  }
  button:hover {
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
  }
}
