.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 200px;
  gap: 50px;
}
.loginHeading {
  font-size: 3rem;
  font-weight: bolder;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  input {
    height: 50px;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
  }
}
.forgotPasswordBtn {
  background: none;
  border: none;
  text-align: left;
}
.forgotPasswordBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.loginButton {
  width: 130px;
  height: 50px;
  align-self: center;
  font-size: 1.2rem;
  background-color: #1a2f27;
  color: white;
  border: none;
  border-radius: 5px;
}

.loginPassword {
  width: 100%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  input {
    width: 90%;
    border: none;
  }
  p {
    width: 10%;
    text-align: center;
  }
}
.loginCreateAccount {
  align-self: center;
  font-size: 1.2rem;
}
.loginButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.loginCreateAccount:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 800px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 100px;
    gap: 50px;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
    input {
      height: 50px;
      padding: 10px;
      font-size: 1.1rem;
      width: 100%;
    }
  }
}
