.productDetailsPage {
  padding: 45px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}
.productImageContainer {
  img {
    height: 70vh;
    width: auto;
    position: sticky;
    top: 145px;
  }
}
.productDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}
.productName,
.productPriceValue {
  width: 100%;
  height: auto;
  font-weight: bolder;
  font-size: 1.3rem;
}
.productName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productSizeDetails {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  margin-bottom: 8px;
}
.sizeChart {
  text-decoration: none;
  color: #151b80;
}
.productSizeIcons {
  display: flex;
  gap: 10px;
  label {
    border: solid grey 1px;
    width: 40px;
    aspect-ratio: 1;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.productSizeIcons label input {
  display: none;
}

.productSizeIcons label.selectedSize {
  border: 2px solid black;
}
.productOuantity {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: bolder;
  input {
    height: 40px;
    width: 60px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(235, 230, 230);
    border: 1px rgb(207, 207, 207) solid;
  }
}
.quantityValue {
  display: flex;
}
.decrement,
.increment {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
  background-color: white;
  border: 1px rgb(207, 207, 207) solid;
  cursor: pointer;
}
.productButtons {
  display: flex;
  gap: 20px;
  button {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #1a2f27;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #05261a;
    color: rgb(228, 189, 11);
  }
}
.productDescription {
  color: rgb(98, 97, 97);
  font-size: 0.95rem;

  p {
    color: black;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 1rem;
  }
}
.productDelivery {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 4px;
}
hr {
  color: rgb(232, 232, 232);
}
.productDetailsloader {
  min-height: 100vh;
}

@media (max-width: 1100px) {
  .productDetailsPage {
    padding: 45px 50px;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .productImageContainer {
    img {
      width: 60vw;
      height: auto;
    }
  }
}
